<ion-view name="login-view"><ion-content>
    <div class="list">
      <label class="item item-input item-floating-label"><span class="input-label">Email</span><input ng-model="data.email" placeholder="Email" type="email" /></label><label class="item item-input item-floating-label"><span class="input-label">Password</span><input ng-model="data.password" placeholder="Password" type="password" /></label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="login(data)">Login</button>
    </div>
  </ion-content></ion-view>
