$day-width: 20px;
$day-padding: 0 5px !important;
$list-width: 95%;
$event_height: 60px;
$event-free-color: #8BC34A;
$event-pending-color: #FFC107;
$event-booked-color: #F44336;
$event-add-color: #387ef5;


.calendar {
  &__month {
    text-align: center;
  }

  &--day {
    font-size: $font-small;
    min-width: $day-width;
    min-height: $day-width;
    padding: $day-padding;

    &--active {
      background-color: #e5e5e5;
    }

    &--current {
      color: red;
    }
  }

  &__list {
    width: $list-width;
  }

  &--event {
    height: $event_height;
    margin: $r-size-nano 0;
    padding: $r-size-micro;
    display: flex;
    flex-wrap: nowrap;

    &--free {
      background-color: $event-free-color;
    }

    &--pending {
      background-color: $event-pending-color;
    }

    &--booked {
      background-color: $event-booked-color;
    }

    &--add {
      padding: $size-default;
      font-size: $font-huge;
      color: $event-add-color;
      border-color: $event-add-color;
      align-items: center;
      justify-content: center;
    }

    &--past {
      opacity: 0.4;
    }
  }

  &--title {
    flex-grow: 2;
  }

  &--actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    i {
      font-size: $font-big;
      margin-left: $r-size-micro;
    }
  }

  &--time {
    font-size: $font-default;
    font-weight: bold;
  }

  &__arrow {
    font-size: $font-big
  }
}
