$action-button-color: #fff;
$add-photo-font-size: 5em;
$photo-slide-height: 23em;
$loader-width: 100%;
$loader-height: 17em;
.photo-actions {
  position: absolute;
  width: 100%;
  padding: $r-size-micro;

  &__top {
      top: 0;
  }

  &__bottom {
    bottom: 0;
  }

  &--button{
    padding: $size-small;
    color: $accent-color;
    font-size: $font-default;
    margin: 0 $r-size-nano;
  }
}

.photo-slider {
  height: $photo-slide-height;

  &__add {
    height: 100%;
    color: $accent-color;
    font-size: $add-photo-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-loader-container {
    width: $loader-width;
    height: $loader-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.take-photo-buttons {
  font-size: $add-photo-font-size;

  i {
    margin: 0 $r-size-nano;
  }
}
