$background: rgba(222, 222, 222, .5);
$action-button-color: #fff;
$add-photo-font-size: 5em;

.photo-actions {
  position: absolute;
  width: 100%;
  padding: $r-size-micro;

  &__top {
      top: 0;
  }

  &__bottom {
    bottom: 0;
  }

  &--button{
    padding: $size-small;
    color: $accent-color;
    font-size: $font-default;
    margin: 0 $r-size-nano;
  }
}

.add-photo-slide {
  height: $r-size-giant;
  color: $accent-color;
  font-size: $add-photo-font-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.take-photo-buttons {
  font-size: $add-photo-font-size;

  i {
    margin: 0 $r-size-nano;
  }
}
