$action-button-color: #fff;
$add-photo-font-size: 5em;
$photo-slide-height: 10em;
$image-height: 100%;
$image-margin-top: -180px;
$loader-width: 100%;
$loader-height: 5em;
$button-height: $r-size-default;
$slider-bottom: 8px;
.photo-actions {
  position: absolute;
  width: 100%;
  padding: $r-size-nano;

  &__top {
      top: 0;
  }

  &__bottom {
    bottom: 0;
  }
}

.photo-slider {
  height: $photo-slide-height;

  &__add {
    height: 100%;
    color: $gray;
    font-size: $add-photo-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--image {
    width: $image-height;
    margin-top: $image-margin-top;
  }

  .image-loader-container {
    width: $loader-width;
    height: $loader-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-pager {
    bottom: $slider-bottom;
  }
}

.take-photo-buttons {
  font-size: $add-photo-font-size;

  i {
    margin: 0 $r-size-nano;
  }
}
