ion-header-bar.b-header.flexbox
  .buttons[ng-hide="stateIs('app.main.search_results')"]
    i.b-action-button.b-icon.b-icon__active[
      ng-class="{\
        'ion-chevron-left': vm.isCurrentSlide(0),\
        'ion-navicon': vm.isCurrentSlide(1)\
      }"
      ng-click='vm.switchSlide()'
    ]
  search[min-length="3"]
  .buttons[ng-hide="stateIs('app.main.search_results')"]
    i.icon.ion-ios-bell.b-action-button.b-icon.b-icon__active.badge-container[
      ng-click="navigator.go('app.main.notifications')"
    ]
      span.badge.badge-assertive[
        ng-show="context.currentUser.unread_count > 0"
      ] {{context.currentUser.unread_count}}

ion-nav-view[name="content" class="main-content"]
