ion-view[name="registration-view"]
  ion-header-bar.b-header[align-title="center" ]
    .buttons
      a.button.icon-left.ion-chevron-left.button-clear.button-dark[
        ng-click="navigator.go('login')"
        translate
      ] back
    h1.title[translate] sign_up.title
  ion-content.sign_up
    form[name="signupForm"  ng-submit="vm.sign_up(signupForm)" novalidate]
      div[class="list"]
        label[class="item item-input item-floating-label"]
          span[class="input-label" translate] form.email
          input[
            required
            name="email"
            type="email"
            placeholder="{{ 'form.email' | translate }}"
            ng-model="vm.signup_data.email"
          ]
          error-messages[
            form='signupForm'
            for='email'
            required="{{ 'form.errors.required' | translate }}"
            email="{{ 'form.errors.email_wrong' | translate }}"
          ]

        label[class="item item-input item-floating-label"]
          span[class="input-label" translate] form.password
          input[
            required
            minlength="8"
            name="password"
            type="password"
            placeholder="{{ 'form.password' | translate }}"
            ng-model="vm.signup_data.password"
            ]
          error-messages[
            form='signupForm'
            for="password"
            required="{{ 'form.errors.required' | translate }}"
            min-length="{{ 'form.errors.min_length' | translate }}"
          ]

        label[class="item item-input item-floating-label"]
          span[class="input-label" translate] form.confirm_password
          input[
            required
            name="password_confirmation"
            minlength="8"
            type="password"
            placeholder="{{ 'form.confirm_password' | translate }}"
            ng-model="vm.signup_data.password_confirmation"
          ]
          error-messages[
            form="signupForm"
            for="password_confirmation"
            required="{{ 'form.errors.required' | translate }}"
            min-length="{{ 'form.errors.min_length' | translate }}"
          ]

        .item.item-checkbox.b-terms-checkbox
          label.checkbox
            input[type="checkbox" name="terms" ng-model="vm.signup_data.terms"]

          .span
            a[ng-click="navigator.go('terms')" translate] sign_up.i_agree
          error-messages[
            form="signupForm"
            for="terms"
          ]

      div[class="padding"]
        button[type="submit" class="button button-block button-calm" translate] sign_up.sign_up
