<ion-view can-swipe-back="true"><ion-header-bar align-title="center">
    <div class="buttons">
      <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="vm.back()">Back</a>
    </div>
    <h1 class="title">
      Calendar
    </h1>
  </ion-header-bar><ion-content class="padding calendar">
    <div class="row calendar__month">
      <div class="col">
        {{ vm.calendar.startOfWeek | amDateFormat: 'MMMM' }}
      </div>
    </div>
    <div class="row">
      <div class="col col-center" ng-click="vm.calendar.previousWeek()">
        <div class="ion-chevron-left calendar__arrow pull-right"></div>
      </div>
      <div class="col">
        <div class="button-bar">
          <div class="button calendar--day" ng-class="{
&#39;calendar--day--active&#39;: vm.calendar.isDateSelected(day.moment),
&#39;calendar--day--current&#39;: vm.calendar.isCurrent(day.moment)
}" ng-click="vm.selectDate(day.moment)" ng-repeat="day in vm.calendar.selectedWeek">
            {{ day.number }}
          </div>
        </div>
      </div>
      <div class="col col-center" ng-click="vm.calendar.nextWeek()">
        <div class="ion-chevron-right calendar__arrow pull-left"></div>
      </div>
    </div>
    <div class="row">
      <ion-lists class="calendar__list center"><ion-item class="calendar--event calendar--event--add col" ng-hide="vm.isPast()"><i class="ion-ios-plus-empty" ui-sref="service.calendar.add_event({ calendar: vm.calendar })"></i></ion-item><ion-item class="calendar--event col col-center calendar--event--{{event.status}}" ng-class="{&#39;calendar--event--past&#39; : vm.isPast()}" ng-repeat="event in vm.calendar.events track by event.id">
          <div class="calendar--title" ng-click="vm.eventUrl(event)">
            <div class="calendar--time">
              {{event.start_at | amDateFormat: 'HH:mm' }}
              - {{event.end_at | amDateFormat: 'HH:mm' }}
            </div>
            <div class="calendar--descritpion">
              {{event.description}}
            </div>
          </div>
          <div class="calendar--actions" ng-hide="vm.isPast()">
            <i class="ion-checkmark-round" ng-click="vm.approveEvent(event)" ng-show="event.status == vm.Event.PENDING"></i><i class="ion-close-round" ng-click="vm.disApproveEvent(event)" ng-show="event.status == vm.Event.PENDING"></i><i class="ion-trash-b" ng-click="vm.deleteEvent(event.id)"></i>
          </div>
        </ion-item></ion-lists>
    </div>
  </ion-content></ion-view>
