<ion-view can-swipe-back="true"><ion-header-bar align-title="center">
    <div class="buttons">
      <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="vm.back()">Back</a>
    </div>
    <h1 class="title">
      Calendar
    </h1>
  </ion-header-bar><ion-content class="padding calendar">
    <div class="row calendar__month">
      <div class="col">
        {{ vm.calendar.startOfWeek | amDateFormat: 'MMMM' }}
      </div>
    </div>
    <div class="row">
      <div class="col col-center" ng-click="vm.calendar.previousWeek()">
        <div class="ion-chevron-left calendar__arrow pull-right"></div>
      </div>
      <div class="col">
        <div class="button-bar">
          <div class="button calendar__day" ng-class="{
&#39;calendar__day--active&#39;: vm.calendar.isDateSelected(day.moment),
&#39;calendar__day--current&#39;: vm.calendar.isCurrent(day.moment)
}" ng-click="vm.selectDate(day.moment)" ng-repeat="day in vm.calendar.selectedWeek">
            {{ day.number }}
          </div>
        </div>
      </div>
      <div class="col col-center" ng-click="vm.calendar.nextWeek()">
        <div class="ion-chevron-right calendar__arrow pull-left"></div>
      </div>
    </div>
    <div class="row">
      <ion-lists class="calendar__list center"><ion-item class="calendar__event calendar__event--add col col-center">
          <div class="ion-ios-plus-empty" ui-sref="service.calendar.add_event({ calendar: vm.calendar })"></div>
        </ion-item><ion-item class="calendar__event col col-center calendar__event calendar__event--{{event.status}}" ng-repeat="event in vm.calendar.events">{{event.start_at | amDateFormat: 'HH:mm' }} -{{event.end_at | amDateFormat: 'HH:mm' }}
          <div class="ion-trash-b pull-right" ng-click="vm.deleteEvent(event.id)"></div>
          <div class="ion-checkmark-round pull-right" ng-click="vm.approveEvent(event)" ng-show="event.status == vm.Event.PENDING"></div>
          <div class="ion-close-round pull-right" ng-click="vm.disApproveEvent(event)" ng-show="event.status == vm.Event.PENDING"></div>
        </ion-item></ion-lists>
    </div>
  </ion-content></ion-view>
