ion-view
  ion-header-bar.b-header[align-title="center"]
    .buttons
      a.button.icon-left.ion-chevron-left.button-clear.button-dark[
        ng-click="navigator.back()"
        translate
      ] back
    h1.title[translate] service.calendar.title
    .buttons
      a.button.button-clear.button-positive.pull-right[
        ng-click="vm.addEvent()"
        ng-hide="vm.isPast()"
        ng-bind="'service.calendar.add' | translate"
      ]
  ion-content.padding.calendar[lazy-scroll]
    .row.calendar__month
      .col {{ vm.calendar.startOfWeek | amDateFormat: 'MMMM' }}
    .row
      .col-center[ng-click="vm.calendar.previousWeek()"]
        .ion-chevron-left.calendar__arrow.pull-right
      .col
        .button-bar[on-swipe-left="vm.onWeekSwipe('left')" on-swipe-right="vm.onWeekSwipe('right')"]
          .button.calendar--day[
            ng-repeat="day in vm.calendar.selectedWeek"
            ng-class="{\
              'calendar--day--active': vm.calendar.isDateSelected(day.moment),\
              'calendar--day--current': vm.calendar.isCurrent(day.moment)\
            }"
            ng-click="vm.selectDate(day.moment)"
          ]
            .day--name{{ day.name }}
            | {{ day.number }}

      .col-center[ng-click="vm.calendar.nextWeek()"]
        .ion-chevron-right.calendar__arrow.pull-left
    .list.card[
      on-swipe-left="vm.onDaySwipe('left')"
      on-swipe-right="vm.onDaySwipe('right')"
    ]
      .hint-text.flexbox.center[
        ng-hide="vm.calendar.events.length > 0"
        translate
      ] service.calendar.no_events
      event[ng-repeat="event in vm.calendar.events track by event.id"
        name="event.label"
        event="event"
        reservation="event.reservation"
        avatar="{{event.user.profile_image.preview_url}}"
      ]
