ion-view
  ion-header-bar.b-header[align-title="center"]
    .buttons
      a.button.icon-left.ion-chevron-left.button-clear.button-dark[
        ng-click="navigator.home()"
        translate
      ] back
    h1.title[translate] service.settings.title
    .buttons
      a.button.button-clear.button-positive.pull-right[ng-click="vm.save()" translate] save
  ion-content[lazy-scroll]
    ui-view[name="photos"]
    .list
      ion-toggle[
        ng-model="vm.service.published"
        ng-change="vm.togglePublication()"
      ] {{ 'service.settings.published' | translate }}

      label.item.item-input.b-input.padding
        span.input-label[translate] form.name
        input[type="text" ng-model="vm.service.name"]

      label.item.item-input.item-stacked-label.b-textarea.padding
        span.input-label[translate] form.description
        textarea[ng-model="vm.service.description"]

      label.item.item-select.padding
        span.input-label[translate] form.duration
        select[
          ng-model="vm.service.duration"
          ng-options="dur.value as dur.label for dur in vm.durations"]

      label.item.item-input.b-input.padding
        span.input-label[translate] form.price
        input[type="text" ng-model="vm.service.price"]

      label.item.item-input.b-input.padding
        span.input-label[translate] form.phone_number
        input[type="text" ng-model="vm.service.phone"]

      label.item.item-input.b-input.padding
        span.input-label[translate] form.address
        input[type="text" ng-model="vm.service.address"]
