$font-micro: 0.5em;
$font-small: 1em;
$font-default: 1.5em;
$font-big: 2em;
$font-huge: 3em;

$size-micro: 3px;
$size-small: 5px;
$size-default: 10px;

$r-size-nano: 0.1em;
$r-size-micro: 0.5em;
$r-size-small: 1em;
$r-size-default: 1.5em;
$r-size-big: 5em;

$accent-color: #ef473a;
$light: #fde9e7;

$light-green: #c2f0c2;
$green: #47d147;
$red: #ff3333;
