$profile-image-width: 100%;
$profile-image-height: $r-size-big;
$avatar-size: 20em;

.profile {
  .image-loader-container {
    width: $profile-image-width;
    height: $profile-image-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--avatar {
    padding: $size-default;
    text-align: center;

    img {
      border-radius: 50%;
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  &--email {
    text-align: center;
  }

  .list {
    margin-bottom: 0;
  }

  &--warning {
    color: $orange;
    font-weight: lighter;
  }
}
