.photo-actions.photo-actions__bottom
  i.pull-left.ion-edit.photo-actions--button[ng-click="vm.showTakePhotoPopup(photo.id)"]
  i.pull-right.ion-trash-b.photo-actions--button[ng-click="vm.deletePhoto(photo.id)"]
