.search
  .buttons
    i.ion-chevron-left.b-action-button[
      ng-show="$root.stateIs('app.main.search_results')"
      ng-click="vm.back()"
      ]
  .search--input.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios-search.placeholder-icon
      input[
        placeholder="{{ 'search.placeholder' | translate }}"
        type="search"
        ng-model="vm.term"
        ng-model-options="{ debounce: 500 }"
      ]
