.day-reservations[ng-repeat="(day, day_reservations) in reservations"]
  .list.card
    .item.item-divider.align-center {{day | todayTomorrow}}
    event[ng-repeat="reservation in day_reservations"
      event="reservation.event"
      name="reservation.service.name"
      target="reservation"
      avatar="{{reservation.service.main_photo.preview_url}}"
    ]
