.main-panel {
  height: 100%; }

.profile-picture {
  width: 100%; }

.side-list__item {
  padding: 16px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.align-right {
  text-align: right; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.flexbox {
  display: flex; }

.center {
  justify-content: center; }

.middle {
  align-items: center; }

.b-action-button {
  font-size: 1.8em;
  padding: 5px; }

.button-float {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important; }

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important; }

.save-button {
  margin: 0.5em;
  color: #fde9e7;
  font-weight: bold;
  background-color: #ef473a; }

.photo-actions {
  position: absolute;
  width: 100%;
  background: rgba(222, 222, 222, 0.5);
  padding: 0.5em; }
  .photo-actions__top {
    top: 0; }
  .photo-actions__bottom {
    bottom: 0; }
  .photo-actions--button {
    color: #fff;
    font-size: 3em;
    margin: 0 0.1em; }

.add-photo-slide {
  height: 5em;
  color: #ef473a;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center; }

.take-photo-buttons {
  font-size: 5em; }
  .take-photo-buttons i {
    margin: 0 0.1em; }

.calendar__month {
  text-align: center; }

.calendar--day {
  font-size: 1em;
  min-width: 40px;
  min-height: 40px;
  padding: 0 5px !important; }
  .calendar--day--active {
    background-color: #e5e5e5; }
  .calendar--day--current {
    color: red; }

.calendar__list {
  width: 95%; }

.calendar--event {
  height: 60px;
  margin: 0.1em 0;
  padding: 0.5em;
  display: flex;
  flex-wrap: nowrap; }
  .calendar--event--free {
    background-color: #8BC34A; }
  .calendar--event--pending {
    background-color: #FFC107; }
  .calendar--event--booked {
    background-color: #F44336; }
  .calendar--event--add {
    padding: 10px;
    font-size: 3em;
    color: #387ef5;
    border-color: #387ef5;
    align-items: center;
    justify-content: center; }
  .calendar--event--past {
    opacity: 0.4; }

.calendar--title {
  flex-grow: 2; }

.calendar--actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1; }
  .calendar--actions i {
    font-size: 2em;
    margin-left: 0.5em; }

.calendar--time {
  font-size: 1.5em;
  font-weight: bold; }

.calendar__arrow {
  font-size: 1.5em; }
