.main-panel {
  height: 100%; }

.profile-picture {
  width: 100%; }

.side-list__item {
  padding: 16px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.b-action-button {
  font-size: 1.8em;
  padding: 5px; }

.button-float {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important; }

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important; }

.calendar__month {
  text-align: center; }

.calendar__day {
  font-size: 1em;
  min-width: 40px;
  min-height: 40px;
  padding: 0 5px !important; }
  .calendar__day--active {
    background-color: #e5e5e5; }
  .calendar__day--current {
    color: red; }

.calendar__list {
  width: 80%; }

.calendar__event {
  margin: 10px 0;
  padding: 10px; }
  .calendar__event--free {
    background-color: #8BC34A; }
  .calendar__event--pending {
    background-color: #FFC107; }
  .calendar__event--booked {
    background-color: #F44336; }

.calendar__arrow {
  font-size: 1.5em; }
